@media screen and (min-width: 500px){
    #hamburger{
        display: none;
    }

    .menu-items li a {
        color: whitesmoke;
    }

    nav {
        display: block;
    }

    nav ul {
        overflow: visible;
        display: flex;
        gap: 3rem;
        align-content: stretch;
        padding: 1rem;
    }

    nav ul li a {
        display: flex;
        align-items: center;

    }

    .current-menu-item {
        border-top: none;
        border-bottom: none;
    }

    .current-menu-item a{
        border-bottom: 2px solid whitesmoke;
        padding: .4rem;
        border-radius: 1rem;
    }

    nav ul li a {
        padding-left: .3rem;
        padding-right: .3rem;
    }

    nav ul li a:hover {
        background: whitesmoke;
        border-radius: .5rem;
        color: black;
    }

    header {
        display: grid;
       grid-template-columns: 1.5fr .9fr 1fr;
       justify-content: center;
    }
    /* header h1 {
        margin-left: -10.5rem;
        font-size: 1.4rem;
    }

    header p {
        margin-left: -10.5rem;
        font-size: .9rem;
    } */

    .business {
        margin-left: 3rem;
        text-align: left;
    }

    .grid-view {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 0;
    }

    .member-card a {
    display: inline-block;
    word-break: break-word; /* Break long URLs if needed */
    max-width: 100%; /* Prevents overflow on smaller screens */
    /* color: #1a73e8; Google-style blue */
    text-decoration: none;
}


    .list-view .member-card {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        background: white;
    }

    .list-view .member-card:nth-child(odd) {
        background: whitesmoke;
    }

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .home {
        position: relative;
        width: 100%;
    }

    .home img {
        display: block;
    }

    .home h2 {
        position: absolute;
        top: 25%;
        left: 25%;
        color: whitesmoke;
        border-bottom: none;
        font-size: 2rem;
    }

    .home p {
        position: absolute;
        top: 33%;
        left: 35%;
        color: white;
        font-size: 1.3rem;
    }

    .home a {
        position: absolute;
        top: 40%;
        left: 45%;
    }

    .home h1 {
        font-size: 1.4rem;
    }

    .events {
        padding: 1rem;
        border-radius: 1rem;
    }

    .days {
        border-bottom: none;
    }

    #forecast {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        border-top: 1px solid;
        padding-top: 1rem;
        margin: 1rem;
        border-radius: 1rem;
    }

    #spotlights {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .container {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        align-self: center;
    }

    form .join {
        flex: 2;
        width: min-content;
    }

    form {
        width: 350px;
    }

    .membership-cards {
        flex: 1;
    }

    .card {
        padding: 1.5rem;
    }

    #join {
        margin-left: 3rem;
        text-align: left;
    }

    .thankyou {
        font-size: 1.5rem;
    }

    .feedback {
        font-size: 1.1rem;
    }

    #close-overlay {
        font-size: 1.1rem;
    }

    .deck img:hover {
        box-shadow: 0 0 15px gray;
        
    }
}

@media (min-width: 641px) and (max-width: 1024px) {
   .deck {
    grid-template-columns: 1fr 1fr;      /* tweak width as desired */
    column-gap: .5rem;
    grid-template-areas:
      "title  title"
      "image  desc"
      "image  address"
      "btn  btn";
  }

  .deck img      { grid-area: image; }
  .deck h2       { grid-area: title;  margin-bottom: .3rem; }
  .deck p        { grid-area: desc;   margin-bottom: .4rem; }
  .deck address  { grid-area: address;}
  .deck button   { 
    grid-area: btn;    
    justify-self: center;
    padding-left: 10rem;
    padding-right: 10rem;
  }

}

@media (min-width: 1025px) {
    #interest {
       grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    }

    .deck {
    grid-template-columns: 1fr 1fr; 
    column-gap: .5rem;
    grid-template-areas:
      "title  title"
      "image  desc"
      "image  address"
      "btn  btn";
  }

  .deck img      { grid-area: image; }
  .deck h2       { grid-area: title;  margin-bottom: .3rem; }
  .deck p        { grid-area: desc;   margin-bottom: .4rem; }
  .deck address  { grid-area: address;}
  .deck button   { 
    grid-area: btn;    
    
  }
}